.myposts {
  border: 1px solid #6969e8;
}

.item {
  background-color: #c9c9e9;
  width: 90%;
}
.like {
  color: darkgreen;
}

.like button {
  font-weight: 700;
  padding: 2px 7px;
}

.wrapper {
  display: flex;
  margin: 10px auto;
}
.img {
  margin: 0 10px;
}
