.user__wrapper {
  border: 2px solid darkslategray;
  margin: 8px;
  flex: 0 1 300px;
  max-width: 300px;
}

.user__header {
  grid-area: 'h';
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.status {
  overflow: hidden;
  word-break: break-all;
  font-size: 12px;
  font-style: italic;
  align-self: center;
  padding: 0 3px;
}
.online {
  min-height: 18px;
  font-size: 18px;
  margin: 3px;
  color: #16a036;
  text-align: right;
  font-weight: 700;
}

.online::before {
  content: '◉';
  margin-right: 5px;
  color: #16a036;
}

.offline {
  min-height: 24px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.ava img {
  max-width: 100px;
  margin: 3px;
  object-fit: cover;
}

.info {
  margin-bottom: 15px;
}

.name__age {
  overflow: hidden;
  word-break: break-word;
  font-size: 20px;
  margin: 10px 5px;
  font-weight: 700;
  text-align: center;
}

.country__city {
  font-size: 14px;
  text-align: center;
  margin: 10px 5px;
}

.button_wrapper {
  display: flex;
  text-align: center;
  margin: 20px 5px 5px;
  justify-content: space-evenly;
}

.button_FuF {
  min-width: 78px;
}

/* .button button {
  background-color: dimgrey;
  color: #ffffff;
  padding: 2px 5px;
  box-shadow: 1px 2px darkslategrey;
  border-radius: 2px;
  min-width: 65px;
} */

/* .button button:disabled {
  background-color: #efb2b2;
  color: #ffffff;
  padding: 2px 5px;
  box-shadow: 1px 2px darkslategrey;
  border-radius: 2px;
  min-width: 65px;
} */
