.header {
  background: url(../../pictures/header.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  width: 100px;
}

.header .img {
  height: 100px;
  overflow: hidden;
}

.header .img img {
  object-fit: fill;
}

.login__block {
  display: flex;
  padding: 10px;
  text-align: center;
  line-height: 70px;
  font-size: 24px;
  font-weight: 700;
  margin-right: 50px;
  color: #0e0f10;
}
.button {
  padding: 3px 5px;
  box-shadow: 1px 2px darkslategrey;
  border-radius: 2px;
}
