.item_box {
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.item_box:nth-of-type(6) {
  margin-top: 30px;
}

.item_box:last-of-type {
  margin-top: 30px;
  font-size: 14px;
  color: aliceblue;
}

.item {
  color: aliceblue;
}

.activeLink {
  color: crimson;
}

.online__wrapper {
  display: flex;
  flex-wrap: wrap;
}
