.profileInfo {
  display: flex;
  min-height: 500px;
  padding: 20px;
}

.avatar {
  flex: 0 1 250px;
}

.avatar img {
  width: 250px;
}

.bio {
  padding: 0 30px;
}

.name {
  font-size: 48px;
  margin: 30px 0;
}

.detils {
  font-size: 16px;
  line-height: 20px;
}
