.login {
  margin: 10px;
}

.login__header {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.login__form {
  font-size: 18px;
}

.login__form input {
  margin: 10px 0;
  font-size: 18px;
}
.login__form input[type='checkbox'] {
  transform: scale(2);
  margin: 10px 5px;
}

.login__form button {
  margin: 10px 0;
  padding: 0 10px 5px 10px;
  font-size: 18px;
}

.form_summary_error {
  color: red;
  font-size: 14px;
  margin: 10px auto;
}

.errorMessage {
  color: red;
  font-size: 14px;
}

.button {
  margin-top: 20px;
  padding: 3px 5px;
  box-shadow: 1px 2px darkslategrey;
  border-radius: 2px;
}
