.app_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.network_name {
  font-size: 36px;
  color: whitesmoke;
  padding: 0 20px 0;
  font-family: 'Luxurious Script', cursive;
}
