.app_wrapper {
  display: grid;
  grid-template-areas:
    'h h'
    'n cont';
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 1180px;
  margin: 0 auto;
  border: 1px solid dimgray;
}

.app_wrapper__header {
  grid-area: h;
}

.app_wrapper__navbar {
  grid-area: n;
  background: darkseagreen;
}

.app_wrapper__content {
  grid-area: cont;
  background: darkgrey;
  min-height: 100vh;
}
