.friend__wrapper {
  border: 2px solid darkslategray;
  margin: 8px;
  flex: 0 1 300px;
}

.ava img {
  max-width: 300px;
  margin: 3px;
  object-fit: contain;
}

.name__age {
  font-size: 18px;
  margin: 10px 5px;
  font-weight: 700;
  text-align: center;
}

.online {
  min-height: 18px;
  font-size: 18px;
  margin: 3px;
  color: #086a08;
  text-align: right;
}
