.form {
  font-size: 18px;
  line-height: 20px;
}

.item_name {
  font-weight: 700;
  margin: 10px auto;
}

.block input {
  width: 100%;
}

.block {
  width: 60%;
}

.block_chkbox {
  margin: 15px 0;
}

.contacts b {
  font-weight: normal;
  margin-left: 15px;
}

.button {
  margin-top: 20px;
  padding: 3px 5px;
  box-shadow: 1px 2px darkslategrey;
  border-radius: 2px;
}

.form_summary_error {
  color: red;
  font-size: 14px;
  margin: 10px auto;
}

.input {
  border: 1px dotted #6969e8;
  border-radius: 4px;
}
